<h1>Transactions</h1>
<p>Your total balance is: <%= number_to_currency @balance %></p>
<p>| <%= @transactions.length %> transactions |</p>
<p>Checkings: <%= number_to_currency @checking_balance %></p>
<p>| <%= @checkings.length %> transactions |</p>
<p>Savings: <%= number_to_currency @savings_balance %></p> 
<p>| <%= @savings.length %> transactions |</p>

<h2>Checkings</h2>
<% @checkings.each do |t| %>
  <p>| <%= number_to_currency t.amount  %> |</p>
<% end %>

<h2>Savings</h2>
<% @savings.each do |t| %>
  <p>| <%= number_to_currency t.amount  %> |</p>
<% end %>

<%= link_to("Enter Transaction",new_transaction_path) %>
<br>

<% if @balance <= 0 %>
  <%= image_tag("http://www.freecreditscore.com/images/manage-debt.png") %>
<% end %>
