<h1>Transactions</h1>
<p>Your total balance is: <%= @balance %></p>
<p>Checkings: <%= @checking_balance %></p>
<p>Savings: <%= @savings_balance %></p>

<% @transactions.each do |t| %>
  <p>| <%= t.account_type  %> | <%= t.amount  %> |</p>
<% end %>

<%= link_to("New Transaction",new_transaction_path) %>
